body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 100vh;
    max-height: 100vh;
    font-size: 14px;
    font-weight: bold;
    color: black;
    white-space: nowrap;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    text-align: right;
    align-items: center;
    background-color: rgba(231, 234, 236);
    height: 10vh;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #2a5fff;
}

a:hover {
    color: rgba(115, 0, 0, 0.55);
}

.workspace {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    height: 100vh;
    flex-grow: 15;
}

.left_side {
    overflow-y: auto;
    background-color: rgba(231, 234, 236);
    width: 10%;
}

.info_screen {
    overflow-y: auto;
    padding: 2%;
    text-align: left;
    width: 190vh;
    font-size: 16px;
    border: 3px solid black;
}

.right_side {
    overflow-y: auto;
    background-color: rgba(231, 234, 236);
    width: 10%;
}

.data_group {
    margin-bottom: 3%;
    padding: 1%;
    width: auto;
}

.date_hour_temp {
    display: flex;
    flex-direction: row;
    width: 30px;
}

.hour_temp {
    height: 100px;
    padding: 25%;
    text-align: center;
    width: 60px;
    font-size: 16px;
    border-radius: 10%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgba(231, 234, 236);
    font-size: 14px;
    font-weight: normal;
    flex-grow: 1;
    height: 10vh;
}

.def_year {
    padding-right: 20px;
    text-align: right;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button:hover {
    background-color: rgba(4, 170, 109, 0.65);
}

.button_blue {
    background-color: #008CBA;
}

.button_blue:hover {
    background-color: rgba(0, 140, 186, 0.65);
}

input, textarea, select {
    display: block;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}