{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <h1>Register</h1>
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="Register">#}
{#    </form>#}

    <form method="POST" novalidate>
        {% csrf_token %}
        <h2>Sign Up</h2>

        {% for field in form %}
        <p>
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {{ field.label_tag }} {{ field }}
        </p>
        {% endfor %}
{#        <input class="button" type="submit" value="Register" />#}
        <button class="button" type="submit">Register</button>
    </form>

    <div>
        <br>
        <a href="{% url 'authorization:login' %}">
{#            <input class="button button_blue" value="Back"/>#}

            <button class="button button_blue">Login</button>
        </a>
    </div>
{% endblock %}