<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<header>
</header>

<body>
    <div class="header">
    </div>

    <div class="workspace">
        <div class="left_side">
        </div>
        <div class="info_screen">
            {% block body %}
            {% endblock %}
        </div>
        <div class="right_side">
        </div>
    </div>

    <footer>
        <div class="def_year">
            @2024
        </div>
    </footer>

</body>
</html>