<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
<!--<div class="workspace">-->
    {% block body %}
    {% endblock %}
<!--</div>-->

<!--<footer>-->
<!--    <div class="def_year">-->
<!--        @2024-->
<!--    </div>-->
<!--</footer>-->

</body>
</html>



{#<div class="box">#}
{#  <div class="box-icon"><svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M18 3a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3H6a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3V6a3 3 0 0 0-3-3 3 3 0 0 0-3 3 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 3 3 0 0 0-3-3z"></path></svg></div>#}
{#  <div class="box-label">MASTERCLASS</div>#}
{#  <div class="box-title">Placid.app Editor Basics ✨</div>#}
{#  <div class="box-image">#}
{#    <img src="https://source.unsplash.com/600x600" alt="">#}
{#  </div>#}
{#  <div class="studio-button">#}
{#    <div class="studio-button-icon">#}
{#      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle></svg>#}
{#    </div>#}
{#    <div class="studio-button-label">#}
{#      Open in Studio#}
{#    </div>#}
{#  </div>#}
{#</div>#}