{% extends 'base.html' %}

{% block title %}
    Forecast for the near future
{% endblock %}

{% block name_page %}
    Forecast for the near future
{% endblock %}

{% block body %}
    <h3>List of cities:</h3>
    <div>
        <ol>
            {% for city in cities_list %}
                <li>
                    <div class="list_obj">
                        <div class="list_obj_name">
                            <p>
                                <a href="{% url 'forecast:forecast_near_future_view' name=city.name latitude=city.latitude longitude=city.longitude %}">Country- {{city.country}}, area- {{city.admin1}}, {{city.name}}</a>
                            </p>
                        </div>
                    </div>
                </li>
            {% empty %} Failure, try another city
            {% endfor %}
        </ol>
    </div>

    <div>
        <br>
        <a href="{% url 'forecast:city_form_view' %}">
            <button class="button button_blue">Back</button>
        </a>
    </div>
{% endblock %}