{% extends 'base.html' %}

{% block title %}
    Forecast for the near future
{% endblock %}

{% block name_page %}
    Forecast for the near future
{% endblock %}

{% block body %}
    <h3>Weather forecast in {{ name }}</h3>
{#    <div style="border: 1px solid black;">#}
{#        <ol>#}
            {% for k, v in forecast_weather.items %}
                <div class="data_group">

                {{ k }}
                <div class="date_hour_temp">

                    {% for data in v%}
{#                        <ol class="hour_temp">#}

{#                        <div class="data_group">#}
                        <div class="hour_temp">
{#                        <div class="info_screen">#}
{#                            <div>#}
                            <div>
                              {{ data.hour }}
                            </div>
                            <div>
                              {{ data.temperature }}°
                            </div>
{#                            </div>#}
{#                        </div>#}
                        </div>
{#                        </ol>#}

                    {% endfor %}
                </div>
{#                <li>#}
{#                    <div class="list_obj">#}
{#                        <div class="list_obj_name">#}
{#                            <p>{{ data.date }} {{ data.hour }} {{ data.temperature }}</p>#}
{#                        </div>#}
                    </div>
{#                </li>#}
{#            {% empty %} Enter the city#}
            {% endfor %}
{#        </ol>#}
{#    </div>#}

<div>
    <br>
{#    <a href="{% url 'forecast:city_form_view' %}">#}
        <a href="javascript:history.back()">
        <button class="button button_blue">Back</button>
    </a>
</div>


{#    <a href="javascript:history.back()">Go Back</a>#}

{% endblock %}