{% extends 'base.html' %}

{% block title %}
    Forecast for the near future
{% endblock %}

{% block name_page %}
    Forecast for the near future
{% endblock %}

{% block body %}
    <h3>Weather forecast in {{ name }}</h3>
{#    <div>#}
{#        <ol>#}
            {% for k, v in forecast_weather.items %}
                {{ k }}
                <div class="data_group">

                    {% for data in v%}
{#                        <ol class="hour_temp">#}

{#                        <div class="data_group">#}
                        <div class="hour_temp">
{#                        <div class="info_screen">#}
{#                            <div>#}
                            <div>
                              {{ data.hour }}
                            </div>
                            <div>
                              {{ data.temperature }}
                            </div>
{#                            </div>#}
{#                        </div>#}
                        </div>
{#                        </ol>#}

                    {% endfor %}
                </div>
{#                <li>#}
{#                    <div class="list_obj">#}
{#                        <div class="list_obj_name">#}
{#                            <p>{{ data.date }} {{ data.hour }} {{ data.temperature }}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#            {% empty %} Enter the city#}
            {% endfor %}
{#        </ol>#}
{#    </div>#}

<div>
    <br>
    <a href="{% url 'forecast:city_form_view' %}">
        <button class="button">Back</button>
    </a>
</div>

{% endblock %}